{% extends 'bases/page.html' %}
{% block content %}

<header>
    <h1 style="text-align: center; padding-top: 18vh; font-weight: 700; color: #f0f0f0; font-size: 9rem;">Conclipse Games</h1>
    <h4 style="text-align: center; padding-top: 10px; font-weight: 600; color: #c0c0c0; font-size: 4rem;">Private Member Login</h4>
</header>

<main>
    <div style="text-align: center;">
        <div class="card" style="margin: 0 auto; text-align: left; max-width: min(90% 200px);">
            <h3>Member login</h3>
            <p>This site is for members of the conclipse games servers. Visit our full site <a href="https://conclipse.co.uk">here</a>.</p>
            <a class="button" href="{% url 'login' %}">Log In</a>
        </div>
    </div>
</main>

{% endblock %}